html, body {
    background-color: antiquewhite;
    height:100%;
    margin:0;
    cursor:url('media/cursor.png') 40 40,auto;
}
*{
    cursor:url('media/cursor.png') 40 40,auto;
}
#navbar1{
    background-color: #20211A;
    height: 120px;
    padding-left: 100px;
    padding-right: 100px;
    
}
#navbar1 #navbarcontent{
    width:60vw;
    margin-left: auto;
    margin-right: auto;
}
#navbar1 img{
    height:100px;
}
#navbar1 #login{
    float:right;
    color:white;
    margin-top:20px;
    font-weight: 900;
    align-items: center;
    display:flex;
}
#navbar1 #login:hover{
    color:grey;
}
#navbar1 #login i{
    font-size: 30px;
    margin-right: 10px;

}
#navbar1 #login p{
    float:right;
}


#navbar2{
    background-color: #20211A;
    height: 20px;
    font-weight: 900;
    font-size:20px;
    z-index: 10;
}
#navbar2 ul{
    list-style-type: none; 
    display:flex;
    align-items: stretch;
    justify-content: space-evenly;
    width:900px;
    margin:0;
    min-height: 10px;
    padding:0;
    margin-left: auto;
    margin-right: auto;
}
#navbar2 ul li{
    display: inline;
    flex: 0 1 auto;
}
#navbar2 ul li a{
    color:white;
    text-decoration: none; 
}
#navbar2 ul li a:hover{
    color:wheat;
    text-decoration:overline solid white 5px; 
    transition-duration: 0.5s;
}

#msg{
    width: 100vw;
    scale:1;
    background-color: wheat;
    position: relative;
}
#msg video{
    width:100%;
}
#msg img{
    transform: rotate(183deg);
    z-index:10;
    display:block;
    width: 20%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

#msg img:hover{
    transform: rotate(177deg);
}

#vidbg, #erroroverlay{
    width:100vw;
    position:absolute;

}
#erroroverlay{
    z-index:2;
    justify-content: center;
}
#error{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top:-100px;
    border: solid black 3px;
    border-radius: 20px;
    padding: 10px;
    color:white;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    text-align: center;
    z-index:2;
}
#error a{
    text-decoration: none;
    color:white;
    border: black solid 2px;
    padding: 10px;
    border-radius: 30px;
}
#error a:hover{
    transition-duration: 0.5s;
    color:black;
    border: white solid 2px;
    background-color: rgba(255,255,255,0.2);
}
#pick{
    margin-top: 60%;

    display:block;
    width:100vw;
    text-align: center;
}
#pick img{
    height:20vh;
    cursor:url('media/cursora.png') 40 40 ,auto;
}
*{
    box-sizing: border-box;
}
.column{
    float:left;
    width: 33.33%;
    background-color: red;
    padding:10px;
    text-align: center;
    height:400px;
}
.prefeet:after{
    content:"";
    display:table;
    clear:both;
}
.column img{
    height:20vh;
}
.column a{
    text-decoration: none;
    color:#20211A;
}

footer {
    text-align: center;
    background-color: #FFAE42;
    height:100px;
}
footer #presocial{
    width:100%;
    background-color: white;
}
footer #socials{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    align-items: stretch;
    justify-content: space-evenly;
    width:400px;
    background-color: white;

}
footer #socials a{
    text-decoration: none;
    cursor:url('media/cursora.png') 40 40 ,auto;
    color:black;
    font-size: 200%;
}
a {
    cursor:url('media/cursora.png') 40 40 ,auto;
}